.logo {
    max-width : 100%;
    margin : 10px 0px 7px 0px;
}

nav {
    background-color : #0093DD;
    margin : 10px 0px 10px 0px;
    padding : 0;
}

.nav-link {
    font-size : 1.2rem; 
    color : white;
}

.nav-link:hover {
    background-color : grey;
    color : white;
}