.logo {
    max-width : 100%;
    margin : 10px 0px 7px 0px;
}

nav {
    background-color : #0093DD;
    margin : 10px 0px 10px 0px;
    padding : 0;
}

.nav-link {
    font-size : 1.2rem; 
    color : white;
}

.nav-link:hover {
    background-color : grey;
    color : white;
}

.heading {
    background-image : linear-gradient(to right, #0093DD 45%, black 100%);
    margin-bottom : 10px;
    padding : 50px 0px;
    color : white;
    text-align : center;
}

.main-subheading {
    font-size : 30px;
}

.text-section {
    background-color : #0093DD;
    padding : 15px;
    margin-top : 10px;
    margin-bottom: 10px;
}

.text-section-text {
  font-size : 20px;
}

.services-container {
    background-color : #00C1D4;
    padding : 15px;
    margin-top : 10px;
    margin-bottom: 10px;
}

.card-container {
    margin : 15px 0px 15px 0px;
}

.card {
    padding : 10px;
}

.card:hover {
    transform : translateY(-5px);
}

.project {
    background-color : #00C1D4;
    padding : 15px;
    margin-top : 10px;
    margin-bottom: 10px;
}

#carouselExampleIndicators {
    max-width: 900px;
    margin: 2rem auto;
    border-radius: 0.75rem;
    overflow: hidden;
}

#carouselExampleIndicators2 {
    max-width: 900px;
    margin: 2rem auto;
    border-radius: 0.75rem;
    overflow: hidden;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 250px;
  }
}